#repo{
    tr{height: min-content;}

    th{border-bottom: 1px solid; 
        width: 150px; 
        text-align: left; 
        font-size: small;}

    td{border-bottom: 1px solid; 
        text-align: justify; 
        font-size: small;}
        
    th a{color: black;}
}

#DA{
    th{border-bottom: 1px solid; 
        width: 150px; 
        text-align: left; 
        font-size: small;}

    td{border-bottom: 1px solid; 
        text-align: justify; 
        font-size: small;}
        
    th a{color: black;}

    img{display: block;
        width: 50%;
        margin: auto;}
}
