#repo{
    tr{height: min-content;}

    th{
        border-bottom: 1px solid;
        width: 150px; 
        text-align: left; 
        font-size: small;}

    td{
        border-bottom: 1px solid;
        text-align: justify; 
        font-size: 0.9em;}
        
    th a{color: black;}
}

#DA{
    th{
        width: 100px; 
        text-align: left; 
        font-size: 0.9em;}

    td{
        text-align: justify; 
        font-size: 0.9em;}
        
    th a{color: black;}

    td img{display: block;
        margin: auto;}
}

.CC{
    tr{width: 100%;
        text-align: justify;
    }

    th a{color: black;
        font-size: 0.9em;}

    td{font-size: 0.85em;
        text-align: left;
        width: 25%}
    
}