#repo{
    tr{height: min-content;}

    th{border-bottom: 1px solid; 
        width: 150px; 
        text-align: left; 
        font-size: small;}

    td{border-bottom: 1px solid; 
        text-align: justify; 
        font-size: small;}
        
    th a{color: black;}
}

div{display: table-cell; vertical-align: middle;}
